.choose {
    margin-top: 100px;
    margin-bottom: 150px;
}

.tabs {
}
.tabs__btn {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-bottom: 100px;
}

.tabs__btn-item {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.tabs__btn-item--active {
    color: #0066ff;
}
.tabs__content {
    margin-bottom: 100px;
}

.tabs__content-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
    
}

.card {
    text-align: center;
}
.card__img {
    display: block;
}
.card__content {
    padding: 0 5px;
    border: 1px solid #0066ff;
    border-top: 0;
}
.card__title {
    padding-top: 20px;
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 700;
}

.card__text {
    margin-bottom: 20px;
}

.card__price {
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 700;
}

.card .card__link {
    display: block;
    color: #0066ff;
    border: 1px solid #0066ff;
    border-top: 0;

}
.hidden{
  opacity: 0;
  visibility: hidden;  
  display: none;
}