.choose {
    margin-top: 100px;
    margin-bottom: 150px;
}

.tabs {
}
.tabs__btn {
    padding: 0 150px 100px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.tabs__btn-item {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.tabs__btn-item--active {
    color: #0066ff;
}
.tabs__content {
    margin-bottom: 100px;
}

.tabs__content-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}

.card {
    text-align: center;
}
.card__img {
    display: block;
    width: 100%;
}
.card__content {
    padding: 0 5px;
    border: 1px solid #0066ff;
    border-top: 0;
}
.card__title {
    padding-top: 20px;
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 700;
}

.card__text {
    margin-bottom: 20px;
}

.card__price {
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 700;
}

.card .card__link {
    display: block;
    color: #0066ff;
    border: 1px solid #0066ff;
    border-top: 0;
}
.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

@media (max-width: 1180px) {
    .choose {
        margin: 50px;
    }
    .blog {
        padding-bottom: 50px;
    }
    .tabs__content-item {
        grid-template-columns: repeat(3, 1fr);
        gap: 60px 40px;
    }
}
@media (max-width: 1040px) {
    .tabs__btn {
        padding: 0 0 50px;
        gap: 20px;
    }
}
@media (max-width: 860px) {
    .tabs__content-item {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 40px;
    }
    .tabs__btn{
        flex-direction: column;

    }
}
@media (max-width: 768px) {
    .blog__items {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px 40px;
    }
  
}
@media (max-width: 650px) {
    .tabs__content-item {
        grid-template-columns: repeat(1, 1fr);
    }
  
}

@media (max-width: 540px) {
    .blog-item-title {
        margin-bottom: 10px;
    }
    .blog__item-link {
        margin-left: auto;
    }
 
}

// @media (max-width: 1180px) {
// }
// @media (max-width: 860px) {
// }
// @media (max-width: 768px) {
// }
// @media (max-width: 540px) {
// }
