.footer {
    background-color: #151515;
    padding: 50px 0 32px 0;
    color: #ffffff;
}
.container {
}
//--------------------------------------------------------------------------------
.footer__menu {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}
.footer__menu-list {
    max-width: 250px;
}

.footer__menu-item + .footer__menu-item {
    padding-top: 20px;
}
.footer__menu-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

//--------------------------------------------------------------------------------

.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

//--------------------------------------------------------------------------------

.footer__copy {
    max-width: 800px;
    font-size: 12px;
    margin: 0 auto 30px;
    text-align: center;
}

//--------------------------------------------------------------------------------

.copy__nav {
}
.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}
@media (max-width: 768px) {
    .footer__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
       
    }
    .copy__nav-list,
    .app {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .app{
        margin-bottom: 20px;
    }
}
